@font-face {
    font-family: 'digital-7';
    /* src: url('../asets/fonts/digital-7.ttf'); */
}
.screenDown{
    font-family: 'digital-7';
    display: block;
    margin-left: auto;
    margin-right:auto ;
    width: 90%;
    font-size: 1.5rem;
    height:30px;
    border: none;
    border-radius: 0 0 10px 10px;
    background-color:rgb(190, 247, 255);
    color: black;
    text-align: right;
    padding: 10px 10px 10px 1px;
}
.screenUp{
    font-family: 'digital-7';
    display: block;
    margin-left: auto;
    margin-right:auto ;
    margin-top: 10px;
    width: 90%;
    font-size: 1.5rem;
    height:30px;
    border: none;
    border-radius: 10px 10px 0 0;
    background-color:rgb(190, 247, 255);
    color: black;
    text-align: right;
    padding: 10px 10px 10px 1px;

}
